@font-face {
    font-family: "Star Jedi";
    src: url("/fonts/STJEDISE.woff2");
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: black;
    color: yellow;
    text-align: center;

    font-family: "Star Jedi", arial;
    font-size: 86px;
    line-height: 1.3;

    overflow: hidden;

    position: relative;
}

h1,
h2 {
    margin: 0 0 100px;
}

.container {
    position: absolute;
    width: 100%;
    height: 200vh;
    bottom: 0;
    text-align: justify;
    overflow: hidden;

    transform-origin: 50% 100%;

    transform: perspective(350px) rotateX(20deg);

    cursor: default;
    user-select: none;
}

.container p {
    text-align: justify;
}

.container .center {
    text-align: center;
}

.credits {
    position: absolute;
    animation: star-wars 30s linear infinite;
}

@keyframes star-wars {
    0% {
        top: 100%;
    }

    90% {
        opacity: 1;
    }

    100% {
        top: -50%;
        opacity: 0;
    }
}

.play {
    position: absolute;
    top: 50px;
    left: 60px;
    transition: transform 0.2 ease;

    &:before {
        content: "\25B6";
        font-size: 24px;
        color: white;
    }

    &:active {
        transform: scale(0.96);
    }
}
